body {
  background-color: white;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows:  auto;
  

}

header {
  background-color: rgb(44, 159, 253);
  text-align: center; 
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  padding-bottom: 0px;
  border: 1px solid black; 

  }

h1 {
  font-size: 30px;
  color: white;
  position: flex;
  justify-content: center;
  font-family: 'Rock Salt', cursive;

}

nav {
  background-color: rgb(255, 104, 217);
  grid-column: 1/ 5;
  grid-row: 2 / 3;
  font-family: 'Rock Salt', cursive;
  font-size: 12px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;  

}
nav > #ahref {
  border: 1px dashed black;
  border-radius: 5px;
  text-align: center;
  

}

.story {
  grid-column: 1 / 5;
  grid-row: 
   }

.story > p {
  color: black;
  text-align: center;
  padding: 20px;
  margin: 10px;
  border: 10px;
}

.story > h2 {
  color: black;
  text-align: center;
  
}
   
h2 {
  font-family: 'Rock Salt', cursive;
  color: black;
  text-align: center;
  grid-column: 2 / 3;
  
}
.testimony1 {
  grid-column: 1 / 2;
  background-color: white; 
  border: 5px dashed  rgb(93, 252, 54);
}
.testimony2 {
  grid-column: 2 / 3;
  background-color:white; 
  border: 5px dashed rgb(255, 146, 56);
}
.testimony3 {
  grid-column: 3 / 4;
  background-color:white; 
  border: 5px dashed rgb(44, 159, 253);;
}
.testimony4 {
  grid-column: 4 / 5;
  background-color:white; 
  border: 5px dashed rgb(255, 246, 119);
}
.order {
  grid-column: 1 / 5;
  text-align: center;
}
  .order > p {
    padding: 25px;
  
}
form {
  padding: 25px;
}

.order > p {
  padding: 15px;
  color: black;
}

 .contact {
   background-color: white;
   grid-column: 1 / 5;
   text-align: center;
  padding: 10px;
  margin: 10px;
  
 }

 .contact > h2 {
   text-align: center;
 }
 
 span {
   display: flex;
   justify-content: center;
   grid-column: 2 / 4;
   }

   .surfing {
     width: 450px;
     height: 250px;
     display: block;
     margin-left: auto;
     margin-right: auto;
    border: 5px solid rgb(255, 246, 119);
     
     
    }
